body {
    display: flex;
    flex-direction: column;
    background-color: blanchedalmond;
    justify-content: center;
    align-items: center;
}

#new-grid {
    flex-grow: 0;
    flex-basis: auto;
    background-color: orange;
    font-size: 18px;
    width: 100px;
    border-radius: 5px;
    margin: 20px;
    cursor: pointer;
}

#new-grid:hover {
    background-color: rgb(255, 191, 71);
}

#container {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 auto;
    background-color: orange;
    width: 700px;
    height: 700px;
    box-sizing: border-box;
}

#square {
    width: 16px;
    height: 16px;
    background-color: white;
    margin: 0px;
    box-sizing: border-box;
    border: 1px solid black;
}